<div class="container clearfix">
  <div class="chat">
    <div class="chat-header clearfix">
      <div class="chat-about">
        <div class="chat-with">Chat with ProfJigsaw</div>
      </div>
      <i class="fa fa-star"></i>
    </div> <!-- end chat-header -->
    

    <div class="chat-history">
      <ul id="chat-box-container"></ul>
    </div> <!-- end chat-history -->
    
    <div class="chat-message clearfix">
      <input type='text' id='user_name' placeholder='Enter your username...' class='username'>
      <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>    
      <button id="send">Send</button>
    </div> <!-- end chat-message -->
    
  </div> <!-- end chat -->
</div> <!-- end of container -->

<script>
  $(document).ready(function () {
    const chat_history = $('.chat-history')
    // RECEIVE MESSAGES
    App.chat.received = function(data)
    {
      const raw_username = data['message'].username
      const message = data['message'].msg
        
      const username = raw_username.toLowerCase()
      if(
        username == 'jigsaw' || username == 'jiggy' ||
        username == 'Jiggy' || username == 'Nweze' ||
        username == 'victor' || username == 'vic' || 
        username == 'vick' || username == 'bully'
      ) {
        message_block = `
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> ${raw_username}</span>
              <span class="message-data-time">10:12 AM, Today</span>
            </div>
            <div class="message my-message">
              ${message}
            </div>
          </li>
        `;
      } else {
        message_block = `
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
              <span class="message-data-name" >${username}</span> <i class="fa fa-circle me"></i>
              
            </div>
            <div class="message other-message float-right">
              ${message}
            </div>
          </li>
        `
      }
      $('#chat-box-container').append(message_block)
        chat_history.animate({
          scrollTop: chat_history.get(0).scrollHeight
      }, 2000)
    }

    /* EVENT HANDLER TO SEND MESSAGES IN THE ROOM */
    $("#send").click(function ()
    {
      const msg = $('#message-to-send').val()
      const username = $('#user_name').val()
      if(!username.trim() || !msg.trim())
        return alert('Input values before sending')

      // SEND MESSAGE FROM CHAT JS INITIALIZATIONS
      App.chat.send_msg({ username ,msg })

      // CLEAR INPUT FIELDS
      $('#message-to-send').val('')
    })
  })
</script>